html {
  @apply snap-y snap-mandatory;
}

body {
  font-family: "DM Sans", sans-serif;
  @apply leading-6 text-sm md:text-lg font-light;
}

.fav-border {
  @apply border-b-2 border-primary pb-[2px];
}

.dark-mode body {
  @apply bg-secondary text-white;

  #logo {
    path {
      stroke: #fff;
    }
  }
}

.light-mode body {
  @apply bg-white text-secondary;

  #logo {
    path {
      stroke: #000;
    }
  }
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.hover-text-primary {
  @apply hover:text-primary duration-300;
}
